<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/about}" method="get">
              <p>
                  <h5 style="color: #000000">Java programming language was originally developed by Sun Microsystems which was initiated by James Gosling and released in 1995 as core component of Sun Microsystems' Java platform (Java 1.0 [J2SE]).

                <p>The latest release of the Java Standard Edition is Java SE 8. With the advancement of Java and its widespread popularity, multiple configurations were built to suit various types of platforms. For example: J2EE for Enterprise Applications, J2ME for Mobile Applications.

                The new J2 versions were renamed as Java SE, Java EE, and Java ME respectively. Java is guaranteed to be Write Once, Run Anywhere.</p>

                <p><b>Java is:</b></p>

                <p><b>Object Oriented −</b> In Java, everything is an Object. Java can be easily extended since it is based on the Object model.</p>

                <p><b>Platform Independent −</b> Unlike many other programming languages including C and C++, when Java is compiled, it is not compiled into platform specific machine, rather into platform independent byte code. This byte code is distributed over the web and interpreted by the Virtual Machine (JVM) on whichever platform it is being run on.</p>

               <p><b>Simple −</b>  Java is designed to be easy to learn. If you understand the basic concept of OOP Java, it would be easy to master.</p>

                <p><b>Secure −</b> With Java's secure feature it enables to develop virus-free, tamper-free systems. Authentication techniques are based on public-key encryption.</p>

                <p><b>Architecture-neutral −</b> Java compiler generates an architecture-neutral object file format, which makes the compiled code executable on many processors, with the presence of Java runtime system.</p>

                <p><b>Portable −</b> Being architecture-neutral and having no implementation dependent aspects of the specification makes Java portable. Compiler in Java is written in ANSI C with a clean portability boundary, which is a POSIX subset.</p>

                <p><b>Robust −</b> Java makes an effort to eliminate error prone situations by emphasizing mainly on compile time error checking and runtime checking.</p>

                <p><b>Multithreaded −</b> With Java's multithreaded feature it is possible to write programs that can perform many tasks simultaneously. This design feature allows the developers to construct interactive applications that can run smoothly.</p>

                <p><b>Interpreted −</b> Java byte code is translated on the fly to native machine instructions and is not stored anywhere. The development process is more rapid and analytical since the linking is an incremental and light-weight process.</p>

                <p><b>High Performance −</b> With the use of Just-In-Time compilers, Java enables high performance.</p>

                <p><b>Distributed − </b>Java is designed for the distributed environment of the internet.</p>

                <p><b>Dynamic − </b>Java is considered to be more dynamic than C or C++ since it is designed to adapt to an evolving environment. Java programs can carry extensive amount of run-time information that can be used to verify and resolve accesses to objects on run-time.</p>

                <p><b>History of Java</b></p>
                <p>James Gosling initiated Java language project in June 1991 for use in one of his many set-top box projects. The language, initially called ‘Oak’ after an oak tree that stood outside Gosling's office, also went by the name ‘Green’ and ended up later being renamed as Java, from a list of random words.

                Sun released the first public implementation as Java 1.0 in 1995. It promised Write Once, Run Anywhere (WORA), providing no-cost run-times on popular platforms.</p>

                <p>On 13 November, 2006, Sun released much of Java as free and open source software under the terms of the GNU General Public License (GPL).</p>

                <p> 8 May, 2007, Sun finished the process, making all of Java's core code free and open-source, aside from a small portion of code to which Sun did not hold the copyright.</p>

                <p><b>Tools You Will Need:</b></p>
                For performing the examples discussed in this tutorial, you will need a Pentium 200-MHz computer with a minimum of 64 MB of RAM (128 MB of RAM recommended).
                <p>You will also need the following softwares −</p>

                <p>Linux 7.1 or Windows xp/7/8/10 operating system</p>
                <p> Java JDK 8</p>
                <p> Notepad or any other text editor</p>
                <p>This tutorial will provide the necessary skills to create GUI, networking, and web applications using Java.</p>
                <p>Requiments platform - IntelliJ Idea you can download it from
                    <a href="https://www.jetbrains.com/" target="_blank">Here</a></p>

            </h5></p>
                <p></p>
                <p></p>
                <p></p>
                <p style="color: #7b0254">More information and examples for Java please click <a href="https://www.tutorialspoint.com/java/" target="_blank">Here</a></p>
            </form>

        </div>
    </div>
</main>