<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/contact}" method="get" enctype="multipart/form-data">
                <p><h4 style="color: #000000">Here we can say something about a company, for example when started, who is a founder and etc.</h4></p>

            </form>
            <div>

                <img th:src="@{/../resources/images/pic02.jpg}"  alt="Picture" style="width:600px;height:400px;" src=""/>


            </div>

        </div>

    </div>
</main>