<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">

            <form class="form-horizontal" th:action="@{/photo}" method="get">

                <p><h4 style="color: #000000"></h4></p>
                  <h1>Why its happen???</h1>
                <body >
                <img th:src="@{../../static/images/pic03.jpg}" height="308" width="680" />
                <img src="../../static/images/cod3.jpg"/>

                </body>

            </form>

        </div>

    </div>

</main>