<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:mvc="http://www.springframework.org/schema/mvc">
    <mvc:resources mapping="../../images/**" location="../../images/"/>
    <div class="container body-content span=8 offset=2" >
        <div class="well">
            <form class="form-horizontal" th:action="@{../../images}" method="post" enctype="multipart/form-data">
                <p><h4 style="color: #000000"></h4></p>
                  <h1>Why its happen???</h1>
                <body>
                <img th:src="@{../../images/cod3.jpg/}" alt="pic" width="300" height="300"/>
                <img src="../../images/cod3.jpg" width="308" height="400"/>
                <img src="../../images/hildebrantmed.bmp"/>
                </body>
            </form>

        </div>

    </div>

</main>