<main xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/video}" method="get">
                <p><h2 style="color: #000000" align="center">Java video Lessons
                <img src="../../images/java-logo-vector.png" height="35" width="35"/></h2></p>
            </form>
        </div>
    </div>
    <div class="well" align="center">
    <body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hl-zzrqQoSE?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5u8rFbpdvds?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gtQJXzi3Yns?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5DdacOkrTgo?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ANuuSFY2BbY?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8ZaTSedtf9M?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ydcTx6idTs0?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iMeaovDbgkQ?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PAaqgTr7Cx4?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RVRPmeccFT0?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8ZuWD2CBjgs?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XqTg2buXS5o?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7MBgaF8wXls?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9t78g0U8VyQ?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tPFuVRbUTwA?list=PL5EB5D04C677E9D34" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <h2 align="center">For more videos please click <a href="https://www.youtube.com/playlist?list=PL5EB5D04C677E9D34" target="_blank"><u>Here</u></a></h2>
    </body>
    </div>
</main>